.aboutBanner{
    background: url(../../assets/images/about.jpg) no-repeat center top;
    background-size: cover;
    height:280px;
    display: flex;
    vertical-align: middle;
}
#headStrip{
    height:35px;
    background:#f0ab00;
    width:100%;
    position:sticky;
    top:74px;
    box-shadow: 0px 15px 15px 0px #fff;
    z-index:100;
}
.App-logo img{
    pointer-events: none;
    box-sizing: border-box;
    width:85px;
    float:left;
    padding-top:10px;
    transition:left 1s!important;
}
#movableLogo.movableLogo
{
    left: 5%!important;
    position: relative!important;
    transition:left 1s!important;
}

#closeBtn{
    color:#000;
    position: absolute;
    right:10px;
    top:0px;
    cursor: pointer;
}

.content{
    width:90%;
    margin:50px auto;
}
main.layout{
    background:#fff;
}
.headerSticky {
    position:sticky;
    top:0px;
    z-index:1000;
    transition:0.3s ease;
}
.navPanel{
    width:25%;
    box-sizing: border-box;
    position: sticky;    
    position: -webkit-sticky;
    top: 140px;
    height:400px;
}
.contentPanel {
    width:75%; 
    left: 25%;
    position: relative;
    top:-420px;
}

@media screen and (max-width: 1235px) {
    .navPanel{
        box-sizing: border-box;
        top: unset;
        width:100%;
        height:400px;
    }
    .contentPanel {        
        left:unset!important;    
        width:100%;
        top:unset;
    }
    ul.tabs{
        display: flex;
        flex-direction: row;
        margin:0px;
        padding: 0px;
        position: relative;
        left:unset!important;
        width:100%!important;
        justify-content: center;
        list-style-type: none;
    }
    .menu{
        position: fixed!important;
    }
    .submenu{
        position: relative!important;
        box-shadow: unset!important;
    }
}


.navPanel ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}
.navPanel ul li {
    padding:10px 0px;
}
.navPanel ul li a{
    font-size: 16px;
    padding-left:15px;
    font-family: inherit;
    color:#3b3b3b;
    text-decoration: none;
}
.navPanel ul li a.active{
    color:#0079A6;
    border-left:4px solid #0079A6;
}

.navPanel ul li a.hoverMe{
    font-size:17px;
    transition: 0.3s ease;
}

.topic{
    font-size:15px;
    color:#7b7b7b;
    line-height:24px;
    clear:both;
    padding-bottom:35px;
    background: url(../../assets/images/divider.svg) no-repeat center bottom;
    background-size:400px;
}

.topic h3{
    text-align: center;
    font-size:25px;
    color:#333;
    font-weight: normal;
}
#whyIAC span {
    padding-top: 1%;
    display: block;
}
#whyIAC img{
    box-shadow: 0px 0px 2px 0px #ccc;
    margin-left:10px;
    margin-bottom:10px;
    float:right;
}
.lhs{
    float:left;
    width:50%;    
}
.rhs{
    float:right;    
    width:50%;
}

.box{
    border-radius:5px;
    font-size:14px;
    width:100%;
    padding:5px 10px;
    box-sizing: border-box;
    line-height:18px;
    box-shadow: 0px 2px 2px 0px #f5f5f5;
}

.box span{
    font-size:12px;
    font-style: italic;
}

.box1 {
    background:#eaedfc;
}

.box2 {
    width:54%;
    margin-top:20px;    
    background:#f2f5ee;
    float:left;
}

.box3 {
    width:calc(46% - 20px);
    margin-top:20px;
    float:right;
    background:#f5efef;
}

.banners{
    display: flex;
    top: 35px;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom:50px;
}
.flicker{
    padding:30px;
    width: 262px;
    overflow: hidden;
    height:244px;
    box-sizing: border-box;
}
.banner1{
    background:url(../../assets/images/redpng.png) no-repeat left top;
}
.banner2{
    background:url(../../assets/images/yellowpng.png) no-repeat left top;
}
.banner3{
    background:url(../../assets/images/violetpng.png) no-repeat left top;
}
.banner4{
    background:url(../../assets/images/bluepng.png) no-repeat left top;
}
.info{
    width:100%;
    border:1px solid #ccc;
    border-radius: 10px;
    display: none;
    transition: display 1s ease;
}

.info p{
    padding:10px;
}
.row{
    clear:both;
    width:100%;
    margin-bottom:20px;
    display: flex;
    flex-direction: row;
    text-align:center;
    justify-content: space-between;
}
.close{
    position: absolute;
    right:10px;
    top:10px;
    z-index:1000;
}
.close input{
    background:transparent;
    width:25px;
    height: 25px;
    font-size: 18px;
    color:#3b3b3b;
    border:0px;
    cursor: pointer;
    outline:none;
}

.funcleaderboard {
    width:30%;
    height:290px;
    margin-bottom:20px;
}
.centerAlign {
    margin:0px auto;
}
.picture{
    width:50%;
    height:222px;
    float:left;    
    height:100%;
}
.funcPicture{
    background:#7fc4ff;
    width: 100%;
    height:222px;
}
.picture img{
    width:100%;
    height:100%;
}
.leaderboard{
    width:450px;
}
.leaderDetails{
    width:50%;
    height:100%;
    background:#f5f5f5;
    float:right;
    position: relative;
}
.profile{
    vertical-align: middle;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.knowMore{
    width:100%;
    text-align: center;
    position: absolute;
    bottom:5%;
}
.info {
    position: relative;
}
.name{
    font-size:20px;
    font-weight: bold;
    line-height:32px!important;
}
.knowMore a{
    text-decoration: none;
    color:#007fbd;
}
.desc{
    text-align: left;
}
.desc span{
    text-decoration: none;
    color:#0079A6;
    line-height:50px;
    cursor: pointer;
}

.diversity{
    line-height: 0px;  
    margin:0px auto;  
}

.diversity p:nth-child(1){
    margin-top: 60px;
    margin-bottom: 36px;
}

.diversity p:nth-child(2){
    margin-top:30px;
}
.diversity p{
    font-size:72px;
    color:#f0ab00;
    line-height: 0px;
    text-align: center;
}
.diversity span{
    font-size: 16px;
    font-weight: normal;
    color: #7b7b7b;
}

.information{
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    margin-left: auto;
    top: 10px;
    position: fixed;
    background: rgb(240, 240, 240);
    border-radius: 5px;
    z-index: 2000;
    padding:20px;
    max-height: 90vh;
    overflow-y:scroll;
    z-index: 2000;
    color:#7b7b7b;
}

.centerAlign {
    text-align: center;
}

.leaderName {
    font-size:36px;
    line-height: 42px;
}

.designation {
    font-size:18px;
    line-height: 24px;
    font-weight: normal;
}
.information img {
    padding:20px;
}
.biography {
    text-align:left;
    font-size:16px;
}
.bioHeading{
    font-size:24px;
    font-weight: normal;
    text-align: left;
    line-height: 10px;
    margin:10px 0px 0px 0px;
    padding:0px;
}
ul.tabs{
    display: flex;
    flex-direction: row;
    margin:0px;
    padding: 0px;
    position: relative;
    width:75%;
    left:25%;
    justify-content: center;
    list-style-type: none;
}

ul.tabs li a{
    color:#fff;
    text-decoration: none;
    font-size:16px;
    padding:8px 16px;
    display: block;
    font-weight:normal;
    transition: background 0.5s ease;
}

ul.tabs li a.active{
    background: rgba(255,255,255,0.5);
}
ul.tabs li a:hover{
    background: rgba(255,255,255,0.5);
}


#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    border:0px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline:none;
    opacity:0.9;    
    transition: opacity 0.5s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 120px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color:#fff;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

.svg-inline--fa {
    font-size: 23px;
    color: #fff;
    margin-left: 15px;
    margin-top: 12px;
}
#closeBtn .svg-inline--fa {
    color: #7b7b7b;
    font-size: 42px;
    margin-top: 12px;
}
.screen {
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.8);
    position: fixed;
    z-index: 1000;
    top:0px;
    left:0px;
}
.knowMore{
    color: #0079A6;
    cursor: pointer;
}