.aboutBanner{
    background: url(../../assets/images/about.jpg) no-repeat center -410px;
    width:100%;
    background-size: 100%;
    height:280px;
    display: flex;
    vertical-align: middle;
}
#headStrip{
    height:35px;
    background:#f0ab00;
    width:100%;
}
.headStripSticky{    
    position:sticky;
    top:74px;
    box-shadow: 0px 15px 15px 0px #fff;
    z-index:100;
}
#movableLogo.movableLogo
{
    left: 5%!important;
    position: relative!important;
    transition:left 1s!important;
}
.pageTitle {
    left: calc(30% - 10px);
    position: absolute;
    z-index: 100;
    transform: translateX(-50%);
    font-size:22px;
    padding-top:20px;
    display:none;
}
.content{
    width:90%;
    min-height:100px;    
    margin:50px auto;
}
main.layout{
    background:#fff;
}
.headerSticky {
    position:sticky;
    top:0px;
    z-index:1000;
    transition:0.3s ease;
}
.navPanel{
    width:25%;
    box-sizing: border-box;
    position: sticky;    
    position: -webkit-sticky;
    top: 140px;
    height:400px;
}
.contentPanel {
    width:75%; 
    left: 25%;
    position: relative;
    top:-420px;
}

.navPanel ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}
.navPanel ul li {
    padding:10px 0px;
}
.navPanel ul li a{
    font-size: 16px;
    padding-left:15px;
    font-family: inherit;
    color:#3b3b3b;
    text-decoration: none;
}
.navPanel ul li a.active{
    color:#0079A6;
    border-left:4px solid #0079A6;
}

.navPanel ul li a.hoverMe{
    font-size:17px;
    transition: 0.3s ease;
}

.topic{
    font-size:15px;
    color:#7b7b7b;
    line-height:24px;
    clear:both;
    padding-bottom:35px;
    background: url(../../assets/images/divider.svg) no-repeat center bottom;
    background-size:400px;
}

.topic h3{
    text-align: center;
    font-size:25px;
    color:#333;
    font-weight: normal;
}
#whyIAC span {
    padding-top: 1%;
    display: block;
}
#whyIAC img{
    box-shadow: 0px 0px 2px 0px #ccc;
    margin-left:10px;
    margin-bottom:10px;
    float:right;
}
.lhs{
    float:left;
    width:50%;    
}
.rhs{
    float:right;    
    width:50%;
}

.box{
    border-radius:5px;
    font-size:14px;
    width:100%;
    padding:5px 10px;
    box-sizing: border-box;
    line-height:18px;
    box-shadow: 0px 2px 2px 0px #f5f5f5;
}

.box span{
    font-size:12px;
    font-style: italic;
}

.box1 {
    background:#eaedfc;
}

.box2 {
    width:54%;
    margin-top:20px;    
    background:#f2f5ee;
    float:left;
}

.box3 {
    width:calc(46% - 20px);
    margin-top:20px;
    float:right;
    background:#f5efef;
}

.banners{
    display: flex;
    top: 35px;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom:50px;
}
.flicker{
    padding:30px;
    width: 262px;
    overflow: hidden;
    height:244px;
    box-sizing: border-box;
}
.banner1{
    background:url(../../assets/images/redpng.png) no-repeat left top;
}
.banner2{
    background:url(../../assets/images/yellowpng.png) no-repeat left top;
}
.banner3{
    background:url(../../assets/images/violetpng.png) no-repeat left top;
}
.banner4{
    background:url(../../assets/images/bluepng.png) no-repeat left top;
}
.info{
    width:100%;
    border:1px solid #ccc;
    border-radius: 10px;
    display: none;
    transition: display 1s ease;
}

.info p{
    padding:10px;
}
.row{
    clear:both;
    width:100%;
    margin-bottom:20px;
    display: flex;
    flex-direction: row;
    text-align:center;
    justify-content: space-between;
}
.close{
    position: absolute;
    right:10px;
    top:10px;
    z-index:1000;
}
.close input{
    background:transparent;
    width:25px;
    height: 25px;
    font-size: 18px;
    color:#3b3b3b;
    border:0px;
    cursor: pointer;
    outline:none;
}
.leaderboard{
    width:450px;
    height:250px;
}
.funcleaderboard {
    width:30%;
    height:290px;
    margin-bottom:20px;
}
.centerAlign {
    margin:0px auto;
}
.picture{
    width:222px;
    height:222px;
    float:left;    
    height:100%;
}
.funcPicture{
    background:#7fc4ff;
    width: 100%;
    height:222px;
}
.picture img{
    width:100%;
    height:100%;
}
.leaderDetails{
    width:222px;
    height:222px;
    min-height:100%;
    background:#f5f5f5;
    float:right;
    position: relative;
}
.profile{
    vertical-align: middle;
    text-align: center;
    width:100%;
    position: relative;
    top:87px;
    margin-top:translateY(-50%);
}
.knowMore{
    position: absolute;
    bottom:2%;
    width:100%;
    text-align: center;
}
.info {
    position: relative;
}
.name{
    font-size:20px;
    font-weight: bold;
    line-height:32px;
}
.knowMore a{
    text-decoration: none;
    color:#007fbd;
}
.desc{
    text-align: left;
}
.desc a{
    text-decoration: none;
    color:#0079A6;
}

.diversity{
    line-height: 0px;  
    margin:0px auto;  
}

.diversity p:nth-child(1){
    margin-top: 60px;
    margin-bottom: 36px;
}

.diversity p:nth-child(2){
    margin-top:30px;
}
.diversity p{
    font-size:72px;
    color:#f0ab00;
    line-height: 0px;
    text-align: center;
}
.diversity span{
    font-size: 16px;
    font-weight: normal;
    color: #7b7b7b;
}