.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  width:100px;
  float:left;
}

.extra-logo {
  pointer-events: none;
  width:125px;
}

.App-logo:last-child {
  width:125px;
}
.header {
  background-color: #282c34;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px;
  color: white;
  min-height:72px;
}

h3.pageHeading {
  margin:0px;
  letter-spacing: 2px;
  font-size:2em;
  color:#f0ab00;
}

.details {
  float:left;
  width: 60%;
}
.chatBtn{
  right:0px;
  background:#007fbd;
  color:#fff;
  cursor: pointer;
  padding:0.5em;
  box-sizing: border-box;
  text-align: center;
  position:absolute;
  top:372px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.chatBtn .fa-comments{
  font-size:2em;
}

.chatBtn p{
  padding:0px;
  margin:0.5em 0px;
}

.detailSection {
  width:100%;
  position: absolute;
  top: 372px;
  padding-left:5%;
  box-sizing: border-box;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'Roboto-Condensed';
}

.detailSection p {
  color:#fff;
  font-size:1em;
  line-height: 1.8em;
}

.fa-search {
  color: #f0ab00;
}

ul.menu{
  list-style-type: none;
  display: flex;
  float: right;
  margin:0px;
  flex-direction: row;
}

ul.menu .fa{
  font-size: 1.8em;
  margin-top: calc(-1vmin);
}

ul.menu li:not(:last-child){
  padding-top:1.2em;
}

ul.menu > li:last-child{
  padding-top:5px;
  padding-left: calc(15px + 1vmin);
  padding-right: 10px;
}

ul.menu li {
  padding-right:calc(10px + 3vmin);
}
ul.menu li.actionIcon {
  padding-right:calc(10px + 1.2vmin);
}
ul.menu li.actionIcon a:hover{
  border:none;
}
ul.menu li a{
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: bottom;
}
ul.menu li a:hover {
  color:#f0ab00;
  padding-bottom: 28px;
  border-bottom: 3px solid #f0ab00;
}
.submenu ul li a:hover{
  border:none;
  text-decoration: underline;
}

.btn {
  padding: 0.8em;
  color: #fff;
  text-decoration:none;
  margin:5px;
  transition: 0.3s ease;
}

.btn:hover {
  background: #ff5722;
}

.primary{
  background: #0072d0;
}

.activeBtn {
  background: #525657;
}

.submenu{
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  z-index:5;
  top:72px;
  display:none;
}
.slideshow{
  clear:both;
}
.homeMenu{
  transform: translateX(-25%);
  overflow:hidden;
  display:flex;
}

.sliderSection {
  width:100%;
  clear:both;
  overflow: hidden;
}

.submenu ul{
  list-style-type:none;
  padding:10px 20px;
}

.submenu ul li{
    display:block;
    color:#333;
    padding:10px;
}
.submenu ul li a{
  color:#333;
  text-transform: none;
}  
.banner{
 background: url(assets/images/backgroundpicture.svg) no-repeat left top;
 width:100%;
 background-size: cover;
 height:600px;
 display: flex;
 vertical-align: middle;
}

h2{
  color:rgb(153, 153, 153);;
  text-align: center;
}

div.icon {
  display: none;
  position: absolute;
  top:1em;
  right:1em;
}

div.icon a{
  color:#fff;
}

@media screen and (max-width: 1200px) {
  ul.menu{
    clear: both;
    display: none;    
    float: left;
    margin: 0px;
    padding: 0px 20px;
    background: #282c34;
    z-index: 1000;
    width: 100%;
    position: absolute;
    padding: 0px;
    top:72px;
  }
  .responsive{
    display:block!important;
  }
  ul.actionIcons {
    width:250px;
  }
  div.icon {
    display: block;
  }
  div.icon .fa{
    cursor: pointer;
    font-size: 2em;
  }
  ul.menu li a {
    padding-left:20px;
  }
  ul.menu li a:hover {
    color:#f0ab00;
    border-bottom: none;
  }
  ul.menu > li:last-child{
    padding:1.2em;
  }
  /*ul.menu li a:hover ~ .submenu{
    display: block;
  }*/
  ul.menu{
    float: left;
    padding:0px;
    margin:0px;
  }
  .submenu {
    width: unset;
    transform: unset;
    overflow: hidden;
    display: none;
    background:unset;
    justify-content: space-between;
    position: relative;
    z-index: unset;
    top: unset; 
  }  
  .submenu ul li:first-child {
    color:#fff;
    font-weight: bold;
  }
  /*
  ul.menu li a:hover ~ .submenu{
    display: block;
    transition:0.3s ease;
  }  
  .submenu:hover{
    display: block;
  } */ 
  .submenu ul li a{
     color:#fff;
  }  
}
@media screen and (max-width: 360px) {  
.details {
  float:left;
  width: 100%;
}
.chatBtn {
  background: #007fbd;
  color: #fff;
  cursor: pointer;
  padding: 0.5em;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  top: 200px;
  right:unset;
}
}