.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 1.2vmin);
  color: white;
}

h3.pageHeading {
  margin:0px;
  letter-spacing: 2px;
  font-size:42px;
  color:#f0ab00;
}

.chatBtn{
  right:0px;
  background:#007fbd;
  color:#fff;
  position: fixed;
  padding:10px;
  top: 50%;
  cursor: pointer;
  height: 100px;
  box-sizing: border-box;
  text-align: center;
  z-index:10;
}
.chatBtn p{
  padding:0px;
  margin:8px 0px;
}
.detailSection {
  margin-left:10%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (max-width:800px) {
  .detailSection {
    width: 90%;
  }  
}

@media screen and (min-width:768px) and (max-width:1024px) {
  .detailSection {
    width: 60%;
  }  
}

@media screen and (min-width:1025px) {
  .detailSection {
    width: 50%;
  }  
}

.detailSection p {
  color:#fff;
  font-size:24px;
}
ul.menu{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  padding:0px;
  margin:0px;
}

ul.menu li {
  position: static;
  margin:0 1.5vw;
}
ul.menu li a{
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: bottom;
}
ul.menu li a:hover ~ .submenu{
  display: flex;
}
ul.menu li .fa{
  font-size: 5vmin;
  margin:-1vw 0;
}
.fa-search {
  color: #f0ab00;
}
.btn {
  padding: 10px 20px;
  color: #fff;
  text-decoration:none;
  margin:5px;
  transition: 0.3s ease;
}

.btn:hover {
  background: #ff5722;
}

.primary{
  background: #0072d0;
}

.activeBtn {
  background: #525657;
}

.submenu{
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  z-index:5;
  top:100px;
  display:none;
}
.slideshow{
  clear:both;
}
.homeMenu{
  left:150px;
}

.aboutMenu{
  left:350px;  
}

.contactMenu{
  left:500px;  
}

.productsMenu{
  left:700px;  
}

.submenu ul{
  list-style-type:none;
  padding:10px 20px;
}

.submenu ul li{
    display:block;
    color:#333;
    padding:10px;
}

.banner{
 background: url(assets/images/backgroundpicture.svg);
 width:100%;
 background-size: 100%;
 height:600px;
 display: flex;
 position: relative;
 vertical-align: middle;
}
.mySlides1{
   margin:0px auto;
   height:250px;
   width: 1150px;
   display:flex;
   align-items: flex-end;
   text-align: center;
}

.mySlides1 img{
  opacity:1;
  width:100px;
  height:100px;
  position: relative;    
  z-index: 0.6s ease;
  transition: 0.3s;
  box-sizing:border-box;
  object-fit: cover;
  opacity:0.5;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -60px;
  color: #fff;
  font-weight: normal;
  font-size: 65px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 10px;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 10px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #333;
  color: #fff;
}

.slideshow-container {
  width: 100%;
  background:#222;
  position: relative;
  margin: auto;
  padding: 10px 10px;
  box-sizing: border-box;
  text-align: center;
}

.slideshow-container h2{
  color: #999;
}