.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  width:100px;
  float:left;
}

.extra-logo {
  pointer-events: none;
  width:125px;
}

.App-logo:last-child {
  width:125px;
}
.header {
  background-color: #282c34;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  color: white;
  min-height:72px;
}

h3.pageHeading {
  margin:0px;
  letter-spacing: 2px;
  font-size:42px;
  color:#f0ab00;
}

.chatBtn{
  right:0px;
  background:#007fbd;
  color:#fff;
  position: absolute;
  padding:10px;
  top: 50%;
  cursor: pointer;
  height: 100px;
  box-sizing: border-box;
  text-align: center;
  z-index:10;
}

.chatBtn .fa-comments{
  font-size:36px;
}

.chatBtn p{
  padding:0px;
  margin:8px 0px;
}

.detailSection {
  margin-left:10%;
  position: relative; 
  top: 30%;
  font-family: 'Roboto-Condensed';
  /*-ms-transform: translateY(-50%);
  transform: translateY(-50%);*/
}

@media screen and (max-width:800px) {
  .detailSection {
    width: 90%;
  }  
}

@media screen and (min-width:768px) and (max-width:1024px) {
  .detailSection {
    width: 60%;
  }  
}

@media screen and (min-width:1025px) {
  .detailSection {
    width: 50%;
  }  
}

.detailSection p {
  color:#fff;
  font-size:24px;
}

ul.actionIcons{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding:0px;
  margin:0px;  
  width:15%;
}

ul.actionIcons li a {
  color:#fff;
}
ul.actionIcons li .fa{
  font-size: 32px;
  margin:-1vw 0;
}
.fa-search {
  color: #f0ab00;
}

ul.menu{
  list-style-type: none;
  display: flex;
  float: right;
  margin:0px;
  flex-direction: row;
}

ul.menu .fa{
  font-size: 24px;
}

ul.menu li:not(:last-child){
  padding-top:20px;
}

ul.menu > li:last-child{
  padding-top:5px;
  padding-left:calc(20px + 3vmin);
  padding-right:0px;
}

ul.menu li {
  padding-right:calc(2.5vmin);
}
ul.menu li.actionIcon {
  padding-right:calc(10px + 1.5vmin);
}

ul.menu li a{
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: bottom;
}
ul.menu li a:hover {
  color:#f0ab00;
  padding-bottom: 28px;
  border-bottom: 3px solid #f0ab00;
}
ul.menu li a:hover ~ .submenu{
  display: flex;
}
.btn {
  padding: 10px 20px;
  color: #fff;
  text-decoration:none;
  margin:5px;
  transition: 0.3s ease;
}

.btn:hover {
  background: #ff5722;
}

.primary{
  background: #0072d0;
}

.activeBtn {
  background: #525657;
}

.submenu{
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  z-index:5;
  top:72px;
  display:none;
}

.slideshow{
  clear:both;
}
.homeMenu{
  transform: translateX(-25%);
  width:920px;
  overflow:hidden;
}

.aboutMenu{
  left:350px;  
}

.contactMenu{
  left:500px;  
}

.productsMenu{
  left:700px;  
}

.submenu ul{
  list-style-type:none;
  padding:10px 20px;
}

.submenu ul li{
    display:block;
    color:#333;
    padding:10px;
}

.banner{
 background: url(assets/images/backgroundpicture.svg);
 width:100%;
 background-size: 100%;
 height:600px;
 display: flex;
 vertical-align: middle;
}
.mySlides1{
   margin:0px auto;
   height:320px;
   width: 1150px;
   display:flex;
   align-items: flex-end;
   text-align: center;
}

.mySlides1 div{
  opacity:1;
  position: relative;    
  z-index: 0.6s ease;
  transition: 0.3s;
  box-sizing:border-box;
  object-fit: cover;
  opacity:0.5;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -60px;
  color: #fff;
  font-weight: normal;
  font-size: 65px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 10px;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 10px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #333;
  color: #fff;
}
.coverflow__stage__14oqC {
  margin: 0px -85px;
}
h2{
  color:rgb(153, 153, 153);;
  text-align: center;
}

div.icon {
  display: none;
  position: absolute;
  top:10px;
  right:10px;
  font-size:36px;
}

div.icon a{
  color:#fff;
}

@media screen and (max-width: 900px) {
  ul.menu{
    clear: both;
    display: block;    
  }
  ul.actionIcons {
    width:250px;
  }
  div.icon {
    display: block;
  }
  ul.menu li a:hover {
    color:#f0ab00;
    border-bottom: none;
  }
  ul.menu > li:last-child{
    padding-top:5px;
    padding-left:0px;
    padding-right:0px;
  }
  ul.menu li a:hover ~ .submenu{
    display: none;
  }
  ul.menu{
    float: left;
    padding:0px;
    margin:0px;
  }
}
/*
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}*/