body {
  margin: 0;
  font-family: 'Roboto-Condensed', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  background-color: #282c34;
}

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Condensed;
  src: url(assets/fonts/roboto/Roboto-Condensed.ttf);
}
